.Home {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 600px;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.Home .lander div {
  padding-top: 20px;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .lander #signupbtn {
  margin-top: 10px;
  margin-bottom: 5px;
  min-width: 50px;
  padding: 4px 10px 6px 10px;
  box-shadow: 10px 6px 0 0 #f2f2f2;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 24px;
  background-color: #a6a6a6;
  border-color: #fff;
  border-radius: 4px 4px 4px 4px;
}

.Home .lander #signupbtn:hover {
  text-decoration: none;
  color: #fbb031;
  box-shadow: 1.5px 1.5px 0 0 #fbb031;
}

.Home .lander #loginbtn:hover {
  text-decoration: none;
  color: #fbb031;
  box-shadow: 1.5px 1.5px 0 0 #fbb031;
}

.Home .lander #loginbtn {
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 4px 10px 6px 10px;
  box-shadow: 2px 2px 0 0 #f2f2f2;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 24px;
  background-color: #3f99a1;
  border-color: #999;
  border-radius: 4px 4px 4px 4px;
}

/* .Dashboard {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 200px;
  position: normal;
} */


.Dashboard h2 {
  width: 275px;
  display: inline-block !important;
}

.Dashboard .profile {
  margin: 30px;
  width: 700px;
  height: 100%;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  /* background-color: #fff; */
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
}

.Dashboard .registration {
  position: absolute;
  margin-top: 30px;
  margin-left: 0px;
  width: 525px;
  height: 225px;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  /* background-color: #fff; */
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
}

.Dashboard .abstract {
  position: absolute;
  margin-top: 300px;
  margin-left: 0px;
  width: 525px;
  height: 225px;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  /* background-color: #fff; */
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
}

.Dashboard #profile, #registration, #abstract {
  float: right;
  margin-top: 20px;
  display: inline-block !important;
  box-shadow: 1px 1px 0 0 #fbb031;
  letter-spacing: 0.5px;
  color: #fff;
  height: 30px;
  font-size: 14px;
  background-color: #3f99a1;
  border-color: #3f99a1;
  border-radius: 4px 4px 4px 4px;
}
