.Participant {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 500px;
}

.Participant {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 200px;
}

.Participant form {
  padding-bottom: 15px;
}

.Participant form textarea {
  height: 300px;
  font-size: 24px;
}
