.UpdateProfile, .submission, .registration, .review {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 200px;
}

.ParticipantUpdate form {
  padding-bottom: 15px;
}

.ParticipantUpdate form textarea {
  height: 300px;
  font-size: 24px;
}

.ParticipantUpdate #parTitle, #parFirstName, #parMiddleName, #parLastName, #parGender, #parWork, #parWorkDepartment, #parWorkStreet, #parWorkCity, #parWorkState, #parWorkCountry, #parWorkZIP, #workPhoneCode, #workPhoneNumber, #parPersonalStreet, #parPersonalCity, #parPersonalState, #parPersonalCountry, #parPersonalZIP, #mobilePhoneNumber, #parNotes {
  display: block;
  margin-top: 0;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  /*width: 600px;*/
  border-radius: 4px;
  color: #000000;
  box-shadow: 0.5px 0.5px 0 0 #3f99a1;
  background-color: #fff;
  border-color: #3f99a1;
  border-width: thin;
}

.ParticipantUpdate .create-button:hover {
  background-color: #3f99a1;
  border-color: #3f99a1;
}
