.Dashboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px;
  margin: 0;
}

.Dashboard #banner {
  width: 100%;
}

.Dashboard .maininfo {
  display: flex;
  flex-flow: row nowrap;
}

/* .Dashboard h2 {
  width: 275px;
  display: inline-block !important;
} */

/* .Dashboard .profile {
  margin: 50px;
  width: 60%;
  height: 100%;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
} */

/* .Dashboard .registration {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  width: 40%;
  height: 225px;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
} */

/* .Dashboard .abstract {
  position: relative;
  margin-top: 325px;
  margin-left: 20px;
  width: 40%;
  height: 225px;
  letter-spacing: 0.5px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  border-color: #fbb031;
  text-align: left;
  border-width: thin;
  border-style: solid;
  padding: 0px 30px;
} */
/*
.Dashboard #profile, #registration, #abstract {
  float: right;
  margin-top: 20px;
  display: inline-block !important;
  box-shadow: 1px 1px 0 0 #fbb031;
  letter-spacing: 0.5px;
  color: #fff;
  height: 30px;
  font-size: 14px;
  background-color: #3f99a1;
  border-color: #3f99a1;
  border-radius: 4px 4px 4px 4px;
} */
